*.sh
node_modules
*.lock
**/*.svg
**/*.md
**/*.svg
**/*.ejs
**/*.html
**/*.png
**/*.toml
**/*.md
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile
pnpm-lock.yaml
tsconfig.node.json
/src/_mock
